# requirements.txt
streamlit
numpy
plotly
pandas
scipy
matplotlib
xarray
netCDF4
cartopy
shapely
pyproj
pydap
seaborn
pydeck
requests>=2.32
pyecharts>=2.0.5
streamlit-echarts>=0.4.0
Pillow
kaggle

# requirements.txt
streamlit==1.26.0
pandas==2.2.3
numpy==1.26.4
plotly==5.22.0
requests==2.32.0
